graph {
	fill-color: white;
}

node {	
	size: 40px;
	fill-color: #ffff66;
	stroke-mode: plain;
	stroke-color: #43474C;
	stroke-width: 2px;
	text-style: bold;
}

edge {
	size: 4px;
	fill-color: #43474C;
}

node.marked {
	fill-color: #ff6600;
}

node:clicked {
	fill-color: #e6e600;
}